footer {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

#footerPicturesContainer {
    display: flex;    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footerLogos {
    margin: 20px;
    width: 91px;
    height: 26px;
}

#lastFooterContainer p{
    margin-left: 28.5%;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
    color: #6b6b6b;
    font-size: 12px;
}

#copyrightContainer {
    color: #6b6b6b;
    font-size: 10px;
    margin: 20px 0;
    margin-left: 37%;
}

#extranetContainer {
    font-size: 0.9em;
    color: #0071C2;
    font-weight: bold;
    margin: 30px 0;
    margin-left: 45%;
}

#footerBottomOffices {
    width: 50%;
    color: #6b6b6b;
    font-size: 12px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}

#footerBottomLinks {
    display: flex;
    justify-content: space-around;
    padding: 20px 210px;
}

#footerBottomLinks ul{
    margin: 15px;
    margin-right: 30px;
    margin: 0 0 5px 0;
}

#footerBottomLinks ul a {
    color: #0071c2;
    font-size: 13px;
}

#footerBottomLinks li {
    margin: 0 0 10px 0;
}

#registerFooterLinks {
    padding: 10px 210px;
    background: #003580;
    border-top: 0.5px solid white;
}

#registerFooterLinks a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    padding: 8px 10px;
    font-size: 13px;
    background: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1em;
    height: 1em;
}

#registerFooterContainer {
    background: #003580;
    padding: 10px 210px;
    align-content: center;
}

#registerButton{
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
}

#subscriptionFooterContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #00224f;
    padding: 50px 210px;
    align-content: center;
}

#subscriptionFooterContainer h2{
    color: white;
    font-size: 24px;
    margin-left: 40%;
    font-weight: 300;
}

#subscriptionFooterContainer p {
    color: #bdbdbd;
    font-size: 16px;
    margin-left: 30%;
    padding: 10px 0;
    font-weight: 400;
}

#emailFooterContainer {
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 547px;
    height: 48px;
}

#emailFooterContainer input {
    font-size: 20px;
    line-height: 28px;
    color: #6b6b6b;
    border: 0;
    border-radius: 3px;
    font-weight: 100;
    padding: 10px;
    width: 65%;
    margin: 0 5px;
}

#emailFooterContainer button {
    border-radius: 3px;
    border: 0;
    padding: 0 15px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    height: 48px;
    color: #fff;
    background-color: #0071c2;
    box-shadow: none;
    flex: 1;
}

#footerCheckboxContainer {
    margin-left: 25.5%;
    display: flex;
}

#footerCheckboxContainer label {
    color: white;
    font-size: 13px;
    font-weight: 400;
}

#footerCheckboxContainer input {
    width: 12.8px;
    height: 12.8px;
}

#registerFooterButtonContainer {
    display: flex;
    justify-content: center;
    margin: 7px 10px 14px 10px;
}

#registerFooterContainer .registerButton {
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}