header {
    background: #003580;
    color: #fff;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header img {
    height: 18px;
    width: 22px;
}

#headerContainer {
    margin: 0 190px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

#headerTop {
    display: flex;
    width: 100%;
    margin: 12px 0 24px 0;
}

#headerButtons {
    line-height: 1px;
}

#headerBottom {
    width: 100%;
}

#main-logo {
    margin-top: 12px;
    width: 144px;
    height: 24px;
    margin-right: 218px;
}

a {
    text-decoration: none;
}

#language-button {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 11px;
    height: 48px;
    margin-right: 5px;
}

#language-button:hover {
    border-color: transparent;
    background-color: rgba(189, 189, 189, 0.12);
    padding-left: 11px;
    padding-right: 11px;
}

#bulgarian-flag {
    background-color: transparent;
    border-color: transparent;
    padding: 11px;
    height: 48px;
    margin-right: 5px;
}

#bulgarian-flag:hover {
    border-color: transparent;
    background-color: rgba(189, 189, 189, 0.12);
    padding-left: 11px;
    padding-right: 11px;
}

#bulgarian-flag img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#help-logo {
    background-color: transparent;
    border-color: transparent;
    padding: 11px;
    height: 48px;
    margin-right: 5px;
}

#help-logo:hover {
    border-color: transparent;
    background-color: rgba(189, 189, 189, 0.12);
    padding-left: 11px;
    padding-right: 11px;
}

#help-logo img {
    width: 24px;
    height: 24px;
}

/* 
#headerTop button {
    height: 43px;
    width: 43px;
    margin: 3px;
} */

.registerButton {
    border: 1px solid white;
    padding: 7px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin: 0 2px;
    background: #003580;
    margin-right: 10px;
}

/* 
.registerButton:hover{

} */

.createProfileButton, .loginButton, .profileButton, .logoutButton {
    font-size: 14px;
    border: 1px solid #0071c2;
    background: #fff;
    color: #0071c2;
    padding: 16px 15px;
    font-weight: bold;
    margin-right: 10px;
}

.profileButton{
    display: none;
}

.registerButton:hover {
    background: #104a9b;
}

.createProfileButton:hover, .loginButton:hover, .profileButton:hover, .logoutButton:hover {
    background: #d5e6ff;
}

#bedIcon {
    height: 18px;
    width: 21px;
}

#flightsIcon {
    height: 18px;
    width: 22px;
}

#rentIcon {
    height: 16px;
    width: 22px;
}

#attractionsIcon {
    height: 20px;
    width: 18px;
}

#taxiIcon {
    height: 16px;
    width: 25px;
}

#headerBottom a {
    margin: 0px 30px 20px 0;
}

#headerBottom span {
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

*[data-tooltip] {
    position: relative;
}

*[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 50px;
    right: -50px;
    width: 170px;
    height: 14px;
    pointer-events: none;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    display: block;
    font-size: 13px;
    line-height: 16px;
    background: #2e2e2e;
    padding: 2px 2px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: normal;
}

*[data-tooltip]:hover::after {
    opacity: 0.75;
}

#headerButtons {
    display: flex;
    align-items: center;
}

.logoutButton {
    display: none;
}